$color-black: #000000;
$color-dark-grey: #333333;
$color-white: #ECF0F1;
$color-light-grey: #F5F7FA;
$color-light-grey-2: #E4E7ED;

$color-dark-blue: #2C3E50;
$color-middle-blue: #2980B9;
$color-light-blue: #3498DB;

// https://color.adobe.com/de/ColorsPlanning1-color-theme-11985480/?showPublished=true
$color-pink: #D04A73;
$color-light-pink: #F87D7B;
$color-orange: #FCA464;
$color-yellow: #FFBD71;
$color-red: #FF636D;

