html {
    height: 100%;
}
body {
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: $color-dark-grey;
    //background-color: $color-light-grey;
    background-color: $color-dark-blue;
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}
input,
button,
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
}
h1,
h2,
h3,
h4 {
    margin: 0px;
}
h1,
.h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 20px;
    color: $color-dark-grey;
}
h2,
.h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
    color: $color-dark-grey;
}
h3,
.h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
    color: $color-dark-grey;
}

h4,
.h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 20px;
    color: $color-dark-grey;
}

ul {
    padding-bottom: 30px;

    li {
        list-style-position: inside;
    }
}
a {
    color: $color-dark-grey;
    text-decoration: underline;
}
p {
    margin: 0px;
    padding: 0px 0px 10px 0px;
}
div {
    box-sizing: border-box;
    display: block;
}
form {
    box-sizing: border-box;
    overflow: hidden;
}
ul {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}
.typecast-text {
    padding-bottom: 10px;
}
ul.typecast-errors {
    padding-bottom: 20px;
    color: $color-red;
    font-weight: 500;
    padding-left: 1px;

    li {
        list-style-type: none;

        &:before {
            content: '\f071';
            font-family: 'Font Awesome 5 Free';
            display: inline-block;
            font-size: 12px;
            font-weight: 900;
            padding-right: 6px;
            padding-left: 1px;
        }
    }
}
