.typecast-page-backend {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: $color-white;
}

.typecast-content {
    padding-top: 70px;
    padding-left: 240px;
    padding-right: 20px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
