.typecast-logo {
    height: 80px;
    width: 360px;
    font-size: 32px;
    color: $color-white;
    position: absolute;
    top: -150px;
    left: 50%;
    border-radius: 2px;
    line-height: 118px;
    text-align: center;
    transform: translate(-50%, 0%);
    text-shadow: 0px 2px 3px rgba(#000000, 0.2);
    text-decoration: none;
}
